<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block customcss %}
    {% endblock customcss %}
</head>
<body>
    <a href="{% url 'logout'%}">ログアウト</a>
    {% block header %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}
    <script>
        let ymd = new Date().toLocaleDateString('sv-SE');
        console.log(ymd)
        console.log(document.getElementById('selectdate').value)
        if (document.getElementById('selectdate')!==null && document.getElementById('selectdate').value == '') {
            document.getElementById('selectdate').value=ymd
        }
    </script>
</body>
</html>