<!DOCTYPE html>
<html lang="jp">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Document</title>
    {% block customcss %}
    {% endblock customcss %}
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body>
<div id="hidenav">
    <nav class="bg-gray-50 dark:bg-gray-700">
        <div class="max-w-screen-xl px-4 py-3">
                <ul class="flex justify-between">
                    <div class="flex gap-3">
                    <li class="font-bold">
                    <a href="{% url 'list' %}" class="text-gray-900 dark:text-white hover:underline">list</a>
                    </li>
                    <li class="font-bold">
                        <a href="{% url 'create' %}" class="text-gray-900 dark:text-white hover:underline">create</a>
                    </li>
                </div>
                    <div class="space-x-10 rtl:space-x-reverse">
                        <a href="{% url 'logout'%}" class="ml-auto font-bold text-blue-600 dark:text-blue-500 hover:underline" aria-current="page">logout</a>
                    </div>
                </ul>
        </div>
    </nav>
</div>
    

      
    {% block header %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}
    <script>
        if ('{{user}}' == 'AnonymousUser') {
            document.getElementById('hidenav').style.display = 'none';
        }
        let ymd = new Date().toLocaleDateString('sv-SE');
        console.log(ymd)
        const url = location.href
        if (url.indexOf('/list/') > -1 && document.getElementById('selectdate')!==null && document.getElementById('selectdate').value == '') {
            document.getElementById('selectdate').value=ymd
        }


        if (url.indexOf('/create/') > -1 && document.getElementById('starttime').value =='') {
            console.log('create')
            document.getElementById('starttime').value=ymd + ' 00:00:00'
            document.getElementById('endtime').value=ymd + ' 00:00:00'

        }

        function postdate() {
            console.log(document.getElementById('choiceversion').value)
            document.getElementById('choiceversion').value = document.getElementById('periodsearch').value
        }

        function test() {
            if (document.getElementById('nottodo').value == 'on') {
                document.getElementById('dateform').style.display='none';
            }
            else {
                document.getElementById('dateform').style.display='block';
            }
        }

        function hidenottodo() {
            console.log('hide')
            console.log(document.getElementById('hide').value)

            if(document.getElementById('hide').value == '▲') {
                document.getElementById('nottodovalue').style.display='none';
                document.getElementById('hide').value = '▼'
            } else if (document.getElementById('hide').value == '▼') {
                document.getElementById('nottodovalue').style.display='block';
                document.getElementById('hide').value = '▲'
            }

        }

        function push(item) {
        console.log('hello')
        console.log(item)
    }
    function taskclick(itemid,title,content,start,end,progress,memo,autor) {
    console.log(itemid)
    let postprogress = ''
    if(progress == 'complete') {
        postprogress = 'incomplete'
    } else if(progress == 'incomplete') {
        postprogress = 'complete'
    }
    const csrftoken = document.querySelector('[name=csrf-token]').content;
    const data = {
        title: title,
        content: content,
        starttime: start,
        endtime: end,
        progress: postprogress,
        memo: memo,
        autor: autor
    }
    console.log(data)
    fetch("/update/" + itemid, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": csrftoken
      },
      body: JSON.stringify(data),
    }).then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            window.location.reload();
        })
        .catch((error) => {
            console.error('Error:', error);
            window.location.reload();
        });
    }
    
    </script>
</body>
</html>