<!DOCTYPE html>
<html lang="jp">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block customcss %}
    {% endblock customcss %}
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body>
<div id="hidenav">
    <nav class="bg-gray-50 dark:bg-gray-700">
        <div class="max-w-screen-xl px-4 py-3 mx-auto">
            <div class="flex items-center">
                <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">

                        <a href="{% url 'list' %}" class="text-gray-900 dark:text-white hover:underline">list</a>
                    </li>
                    <li>
                        <a href="{% url 'create' %}" class="text-gray-900 dark:text-white hover:underline">create</a>
                    </li>
                    <div class="flex items-center space-x-6 rtl:space-x-reverse">
                        <a href="{% url 'logout'%}" class="text-sm  text-blue-600 dark:text-blue-500 hover:underline" aria-current="page">logout</a>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</div>
    

      
    {% block header %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}
    <script>
        if ('{{user}}' == 'AnonymousUser') {
            document.getElementById('hidenav').style.display = 'none';
        }
        let ymd = new Date().toLocaleDateString('sv-SE');
        console.log(ymd)
        const url = location.href
        if (url.indexOf('/list/') > -1 && document.getElementById('selectdate')!==null && document.getElementById('selectdate').value == '') {
            document.getElementById('selectdate').value=ymd
        }


        if (url.indexOf('/create/') > -1 && document.getElementById('starttime').value =='') {
            console.log('create')
            document.getElementById('starttime').value=ymd + ' 00:00:00'
            document.getElementById('endtime').value=ymd + ' 00:00:00'

        }

        function postdate() {
            console.log(document.getElementById('choiceversion').value)
            document.getElementById('choiceversion').value = document.getElementById('periodsearch').value
        }

        function test() {
            if (document.getElementById('nottodo').value == 'on') {
                document.getElementById('dateform').style.display='none';
            }
            else {
                document.getElementById('dateform').style.display='block';
            }
        }

        function hidenottodo() {
            console.log('hide')
            console.log(document.getElementById('hide').value)

            if(document.getElementById('hide').value == '▲') {
                document.getElementById('nottodovalue').style.display='none';
                document.getElementById('hide').value = '▼'
            } else if (document.getElementById('hide').value == '▼') {
                document.getElementById('nottodovalue').style.display='block';
                document.getElementById('hide').value = '▲'
            }

        }

        function push(item) {
        console.log('hello')
        console.log(item)
    }
    </script>
</body>
</html>