{% extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}

{% block header%}
{% endblock header %}

{% block content %}
<a href="/create/">新規作成</a>
<br>
<select id="periodsearch">日付指定
    <option value="date">日付</option>
    <option value="week">一週間</option>
    <option value="month">月</option>
</select>
<button onclick="postdate()">検索</button>
<form method="POST" action="">{% csrf_token %}
<p>日付指定:<input type="date" name="selectdate" id="selectdate"></p>
<input type="hidden" id="choiceversion" name="choiceversion">
<button type="submit">選択</button>
</form>
<a href="/list/"> 日付指定なし</a>

{% for item in nodo_list %}
<div style="background-color: blue;">
<p>タイトル:{{item.title}}</p>
<p>項目:{{item.content}}</p>
<p>期限:{{item.starttime|date:"Y-m-d H:i" }} - {{item.endtime|date:"Y-m-d H:i" }}</p>
<a href="/update/{{item.id}}">更新</a>
<a href='/delete/{{item.id}}'>削除</a>
</div>
<hr>
{% endfor %}
{% for item in do_list %}
<p>タイトル:{{item.title}}</p>
<p>項目:{{item.content}}</p>
<p>期限:{{item.starttime|date:"Y-m-d H:i"}} - {{item.endtime|date:"Y-m-d H:i"}}</p>
<a href="/update/{{item.id}}">更新</a>
<a href='/delete/{{item.id}}'>削除</a>
<hr>
{% endfor %}
{% endblock content %}

