{% extends 'base.html' %}

{% block content %}
<a href="/list/">一覧</a>
{% if task.nottodo == 'off' %}
<h3>やること更新</h3>
{% elif task.nottodo == 'on' %}
<h3>やらないこと更新</h3>
{% endif %}
<form method="POST" action="">{% csrf_token %}
<p>タイトル:<input type="text" value="{{task.title}}" name="title"></p>
<p>内容:<textarea name="content">{{task.content}}</textarea></p>
<p><input type="hidden" value="{{task.author}}" name="author"></p>
{% if task.nottodo == 'off' %}
<p>開始:<input type="datetime-local" value="{{task.starttime|date:'Y-m-d H:i'}}" name="starttime"></p>
<p>終了:<input type="datetime-local" value="{{task.endtime|date:'Y-m-d H:i'}}" name="endtime"></p>
<p>やらないこと:
    <select value="{{task.nottodo}}" name="nottodo">
        {% if task.nottodo == 'on' %}
        <option>on</option>
        <option>off</option>
        {% else %}
        <option>off</option>
        <option>on</option>
        {% endif %}
    </select>    
</p>
{% endif %}
<p>進捗:
<select name="progress">
    {% if task.progress == 'inprocess' %}
    <option value="inprocess">実行中</option>
    <option value="incomplete">未遂</option>
    <option value="complete">完了</option>
    {% elif task.progress == 'complete'  %}
    <option value="complete">完了</option>
    <option value="">未遂</option>
    <option value="incomplete">実行中</option>
    {% else %}
    <option value="incomplete">未遂</option>
    <option value="inprocess">実行中</option>
    <option value="complete">完了</option>
    {% endif %}
</select>
</p>
<p>メモ:<textarea name="memo" >{{task.memo}}</textarea></p>

<button type="submit">更新</button>
</form>
{% endblock content %}